/* .table th { white-space: nowrap;} */

table th{
    text-align: left;
  }
  table td{
    vertical-align: top;
  }
  
  .table tr td {
    border-bottom: 1px solid #eceff3;
  }
  
  .table tr:hover td {
    background: #f4f6f8;
  }
  
  table.x-scroll{
    display: block!important;
    overflow: auto;
  }
  
  .orderTable div table td{
    vertical-align: middle;
  }
  
  .Review , .orderlisttd{
    padding:0;
  }
  
  .orderlisttd{
    border-bottom: 2px solid #d68328;
  }
  
  .ReviewPagination , .orderlistPagination{
    padding: 0;
    border: none!important;
  }
  
  .tblactive{
    background-color: rgba(214, 130, 21, 0.09);
  }
  
  table.tblsm{
    font-size: 12px;
    white-space: nowrap;
  }
  
  .tblsm .fsdet > .fsdet_title{
      height: 18px;
      line-height: 18px;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;
      overflow: hidden;
  }
  
  .fsdet > .fsdet_title_twocol{
    height: 36px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
  